
.DS_Store
.ipynb_checkpoints/01introduzioneAPython-checkpoint.ipynb
.ipynb_checkpoints/02DataTypesAndOperations_-checkpoint.ipynb
jupyter/jupyterNotebooks/01ConsoleIOandVariables copy.ipynb
jupyter/jupyterNotebooks/02DataTypesAndOperations_.ipynb
jupyter/jupyterNotebooks/.ipynb_checkpoints/01introduzioneAPython-checkpoint.ipynb
jupyter/jupyterNotebooks/.ipynb_checkpoints/02DataTypesAndOperations_-checkpoint.ipynb
jupyter/jupyterNotebooks/assignments/.ipynb_checkpoints/01.01_ConsoleIOandVariables_Assignments-checkpoint.ipynb
jupyter/jupyterNotebooks/assignments/.ipynb_checkpoints/01.02_DataTypesAndOperations_Live-checkpoint.ipynb
jupyter/jupyterNotebooks/assignments/.ipynb_checkpoints/01.03_DataTypesAndOperations_Assignments-checkpoint.ipynb
jupyter/jupyterNotebooks/.ipynb_checkpoints/P1_Programming-checkpoint.ipynb
jupyter/jupyterNotebooks/.ipynb_checkpoints/01ConsoleIOandVariables copy-checkpoint.ipynb
jupyter/jupyterNotebooks/.ipynb_checkpoints/P1_Programming_2-checkpoint.ipynb
jupyter/jupyterNotebooks/.ipynb_checkpoints/classes_1_2_3-checkpoint.ipynb
jupyter/jupyterNotebooks/P1_Programming_2.ipynb
jupyter/jupyterNotebooks/assignments/.ipynb_checkpoints/classes4_6_Assignments-checkpoint.ipynb
jupyter/jupyterNotebooks/assignments/.ipynb_checkpoints/classes_1_2_3_Assignments-checkpoint.ipynb
jupyter/jupyterNotebooks/.ipynb_checkpoints/classes_4_6-checkpoint.ipynb
jupyter/jupyterNotebooks/covid_lastday.csv
jupyter/jupyterNotebooks/covid_lastday_b.csv
jupyter/jupyterNotebooks/covid_more_than_10k.csv
jupyter/jupyterNotebooks/covid_more_than_25k.csv
jupyter/jupyterNotebooks/assignments/.ipynb_checkpoints/01.01_ConsoleIOandVariables_Live-checkpoint.ipynb
jupyter/jupyterNotebooks/assignments/__pycache__/auto_testing.cpython-39.pyc
jupyter/jupyterNotebooks/assignments/stdout.txt
jupyter/jupyterNotebooks/.ipynb_checkpoints/PROVE Correlazione-checkpoint.ipynb
jupyter/jupyterNotebooks/.ipynb_checkpoints/PROVECorrelazione-checkpoint.ipynb
jupyter/jupyterNotebooks/.ipynb_checkpoints/covid_lastday-checkpoint.csv
jupyter/jupyterNotebooks/.ipynb_checkpoints/covid_more_than_25k-checkpoint.csv
jupyter/jupyterNotebooks/runJupyterLab.txt
jupyter/jupyterNotebooks/assignments/__pycache__/auto_testing.cpython-311.pyc
jupyter/jupyterNotebooks/.ipynb_checkpoints/classes_part_1-checkpoint.ipynb
